#title {
  font-size: 30px;
  font-family: "Avenir Next";
  color: skyblue;
  text-align: center;

}

.buttons {
  background-color: skyblue;
  font-family: "Avenir Next";
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 7px;
  width: 190px;
  height: 40px;
  display: inline;
  margin-top: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 7%;

}

.texts {
  font-family: "Avenir Next";
  color: skyblue;
  font-size: 19px;
  border-radius: 7px;

}

.headers {
  font-family: "Avenir Next";
  color: skyblue;
  font-size: 22px;
  margin-left: 20px;

}

.name {
  font-family: "Avenir Next";
  color: black;
  margin-left: 40%;
}

.header {
  font-family: "Avenir Next";
  color: skyblue;
  font-size: 22px;
  text-align: center;
}
