<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link href="/stylesheets/calendar.css" rel="stylesheet"> -->
    <script src="/javascript/calendar.js"></script>
  </head>
   <body>
<!--  <div id="page-body">
     [PERIOD SELECTOR]
    <div id="cal-date">
      <select id="cal-mth"></select>
      <select id="cal-yr"></select>
      <input id="cal-set" type="button" value="SET"/>
    </div> -->
    <!-- [CALENDAR] -->
    <div id="cal-container"></div>

    <!-- [EVENT] -->
    <div id="cal-event"></div>
  </div>
 {{events}}
  <form action="/calendar" method="post">
        Name of Event:
        <br>
        <input type="text" name="event_name" value="Event">
        <br>
        Event Date:
        <div id="cal1-date">
          <select id="cal1-day" name="cal1-day"></select>
          <select id="cal1-mth" name="cal1-mth"></select>
          <select id="cal1-yr" name="cal1-yr"></select>
        </div>
        Select your family member:
        <br>
        <!--change name later  -->
        <select name="family">
            {% for member in family.members %}
              {% set user=member.get() %}
               <option value="{{user.first_name}}">{{user.first_name}}</option>
            {% endfor %}

        </select>
        <br>
        <input type="submit" value="Add event">
        <br>
        <br>

      </form>

  <form action="/profile" method="get">
    <input type="submit" name="proButton" value="Profile">
  </form>
  <form class="" action="/planner" method="post">
      <input type="Submit" name="calButton" value="To Planner">
  </form>

    {% for member in event %}
     <div style="background-color: {{member.color}};">
      {{member.event_name}}<br>{{member.event_date}}
    </div><br>
    {% endfor %}
</body>
</html>
