<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="calendar.css">
    <meta charset="utf-8">
    <title></title>
    <!-- <link href="/stylesheets/calendar.css" rel="stylesheet"> -->
    <script src="/javascript/calendar.js"></script>
  </head>
   <body>
     <h1 class = "title">Create An Event</h1>
<!--  <div id="page-body">
     [PERIOD SELECTOR]
    <div id="cal-date">
      <select id="cal-mth"></select>
      <select id="cal-yr"></select>
      <input id="cal-set" type="button" value="SET"/>
    </div> -->
    <!-- [CALENDAR] -->
    <div id="cal-container"></div>

    <!-- [EVENT] -->
    <div id="cal-event"></div>
  </div>
  {% for member in family.members %}
    {% set user=member.get() %}
    <p>{{user.first_name}}'s color is <span style="color:{{user.color}}; ">{{user.color}}</span></p>
  {% endfor %}
  <form action="/calendar" method="post">
        Name of Event:
        <br>
        <input type="text" name="event_name" value="Event">
        <br>
        Event Start Date:
        <div id="cal1-date">
          <select id="cal1-day" name="cal1-day"></select>
          <select id="cal1-mth" name="cal1-mth"></select>
          <select id="cal1-yr" name="cal1-yr"></select>
        </div>
        Event End Date:
        <div id="cal2-date">
          <select id="cal2-day" name="cal2-day"></select>
          <select id="cal2-mth" name="cal2-mth"></select>
          <select id="cal2-yr" name="cal2-yr"></select>
        </div>
        Select your family member:
        <br>
        <!--change name later  -->
        <select name="family">
            {% for member in family.members %}
              {% set user=member.get() %}
               <option value="{{user.first_name}}">{{user.first_name}}</option>
            {% endfor %}
              <!-- <option value="all">All</option> -->

        </select>

        <!-- <input type="checkbox" name="all_members" value="True">All Members</input> -->

        <br>
        <input class = "event" type="submit" value="Add event">
        <br>
        <br>

      </form>

  <form action="/profile" method="get">
    <input type="submit" name="proButton" value="Profile">
  </form>
  <form class="" action="/planner" method="get">
      <input type="Submit" name="calButton" value="To Planner">
  </form>

    {% for member in event %}
     <div style="background-color:{{member.color}}">
      Event: {{member.event_name}}<br>Dates: {{member.event_date}} to {{member.event_end}}
    </div><br>
    {% endfor %}
</body>
</html>
