

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome {{last_name}} family!</h1>
    <h2>Family members</h2>
    <ul>
      {% for member in family.members %}
        {% set user=member.get() %}
        <li> {{user.first_name}} {{user.last_name}} <br> Color is: {{user.color}}</li><br>
      {% endfor %}
    </ul>
    <h3>Add a new family member</h3>
    <form action="/profile" method="post">
      First Name:
      <input type="text" name="Firstname" value=""></input> <br><br>
      Last Name:
      <input type="text" name="Lastname" value=""></input> <br><br>
      Email:
      <input type="text" name="email" value=""></input> <br><br>
      Color:
      <select class="" name="color">
        {% for color in colors %}
          <option value="{{color}}">{{color}}</option>
        {% endfor %}
      </select>
      <br>
      <input type="submit" name="" value="Add Family Member!">
    </form>
    <form class="" action="/calendar" method="post">
        <input type="Submit" name="calButton" value="To Calendar">
    </form>
  </body>
</html>
