
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="profile.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id="title">Welcome {{last_name}} family!</h1>
    <h2 class = "headers" >Family Members</h2>
    <ul>
      {% for member in family.members %}
        {% set user=member.get() %}
        <li> {{user.first_name}} {{user.last_name}} <br> Color is: {{user.color}}</li><br>
      {% endfor %}
    </ul>
    <h3 class = "header" >Add a new family member</h3>
    <form class = "name" action="/profile" method="post" >
      First Name:
      <input class = "texts" type="text" name="first_name" value=""></input> <br><br>
      Last Name:
      <input class = "texts" type="text" name="last_name" value=""></input> <br><br>
      New Email:
      <input class = "texts" type="text" name="email" value=""></input> <br><br>
      Color:
      <select class="" name="color">
        {% for color in colors %}
          <option value="{{color}}"> Choose a color </option>
        {% endfor %}
      </select>
      <br>
      <input class = "buttons" type="submit" name="" value="Add Family Member!">
    </form>
  </body>
</html>
